<div class="timeline-cover">

  <!--Timeline Menu for Large Screens-->
  <div class="timeline-nav-bar hidden-sm hidden-xs">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-info">
          <img src="assets/images/users/user-1.jpg" alt="" class="img-responsive profile-photo">
          <h3>{{ profile?.username }}</h3>
          <p class="text-muted">Creative Director</p>
        </div>
      </div>
      <div class="col-md-9">
        <ul class="list-inline profile-menu">
          <li><a routerLink="/timeline" routerLinkActive="active">Timeline</a></li>
          <li><a routerLink="/timeline-about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/timeline-album" routerLinkActive="active">Album</a></li>
          <li><a routerLink="/timeline-videos" routerLinkActive="active">Videos</a></li>
          <li><a routerLink="/timeline-friends" routerLinkActive="active">Friends</a></li>
        </ul>
        <ul class="follow-me list-inline">
          <li>{{profile?.friendsCount}} followers</li>

          <!-- Add Friend -->
          <li *ngIf="profile?.id !== currentUserId && !isFriend && !requestSent">
            <button class="btn-primary" (click)="addFriend()">Add Friend</button>
          </li>

          <!-- Cancel Request -->
          <li *ngIf="requestSent && profile?.id !== currentUserId">
            <button class="btn-cancel-request" (click)="cancelRequest()">
              Cancel Request
            </button>
          </li>

          <!-- My Friend -->
          <li *ngIf="profile?.id !== currentUserId && isFriend" class="text-success" style="font-size:12px;">
            My Friend
          </li>

        </ul>
      </div>
    </div>
  </div>

  <!--Timeline Menu for Small Screens-->
  <div class="navbar-mobile hidden-lg hidden-md">
    <div class="profile-info">
      <img src="assets/images/users/user-1.jpg" alt="" class="img-responsive profile-photo">
      <h4>{{ profile?.username }}</h4>
      <p class="text-muted">Creative Director</p>
    </div>
    <div class="mobile-menu">
      <ul class="list-inline">
        <li><a routerLink="/timeline" class="active">Timeline</a></li>
        <li><a routerLink="/timeline-about">About</a></li>
        <li><a routerLink="/timeline-album">Album</a></li>
        <li><a routerLink="/timeline-friends">Friends</a></li>
      </ul>
      <button *ngIf="profile?.id !== currentUserId && !isFriend && !requestSent" class="btn-primary" (click)="addFriend()">Add Friend</button>
      <button *ngIf="requestSent && profile?.id !== currentUserId" class="btn btn-secondary" (click)="cancelRequest()">Cancel Request</button>
    </div>
  </div>

</div>
