.video-gallery {
  margin-top: 15px;
}

.video-card {
  margin-bottom: 15px;
  border-radius: 6px;
  overflow: hidden;
}

.video-card video {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

/* نفس style header زي الصور */
.friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}


.preview-video {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.preview-video:hover {
  transform: scale(1.03);
}

.video-preview-large {
  max-height: 90vh;
  width: auto;
  border-radius: 8px;
}
