<div class="col-md-2 static">
  <div id="sticky-sidebar">

    <h4 class="grey">{{ username }}'s activity</h4>

    <div class="feed-item" *ngFor="let act of activities">
      <div class="live-activity">

        <p>
          <a class="profile-link">
            {{ username }}
          </a>
          {{ act.message }}
        </p>

        <p class="text-muted">
          {{ act.date | timeAgo }}
        </p>

      </div>
    </div>

    <p *ngIf="activities.length === 0" class="text-muted text-center">
      No recent activity
    </p>

  </div>
</div>
